<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My FastAPI App</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/bicycle.png" alt="Icon" width="50" height="50">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if active_page == 'Home' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if active_page == 'Safety Insights' %}active{% endif %}">
                    <a class="nav-link" href="/safety_insights">Safety Insights</a>
                </li>
                <li class="nav-item {% if active_page == 'Bicycle Routes' %}active{% endif %}">
                    <a class="nav-link" href="/bicycle_routes">Bicycle Routes</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="{% block container_class %}container mt-4{% endblock %}">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
