{% extends "base.html" %}
{% block title %}Safety Insights{% endblock %}
{% block container_class %}container-fluid mt-4{% endblock %}
{% block content %}
    <div class="dropdown-container">
        <label for="region-select">Region</label>
        <select id="region-select" class="form-control">
            <option>Regions in Melbourne</option>
            <!-- Add more options here -->
        </select>
    </div>

    <div class="cards-container">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Choropleth Map Coming Soon
                </div>
                <div class="card-body">
                    <p>We are working hard to implement this feature. Stay tuned!</p>
                </div>
                <div class="card-footer text-muted">
                    Thank you for your patience.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Cyclist Accident Bar Chart Coming Soon
                </div>
                <div class="card-body">
                    <p>We are working hard to implement this feature. Stay tuned!</p>
                </div>
                <div class="card-footer text-muted">
                    Thank you for your patience.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
